<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<meta name="msvalidate.01" content="D8D1B9287FC9454937F1B6EC13B7D317" />
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->


<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#fcfcfc">
<!-- 若要开启暗黑模式，则删除注释符
<meta name="theme-color" content="#fcfcfc" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#151515" media="(prefers-color-scheme: dark)">

-->

<!-- end custom head snippets -->

<title>{{ page.title }}</title>
