---
layout: default
---

<h1>{{ page.title }}</h1>
<div class="post-meta">{{ page.date | date: "%Y-%m-%d" }} </div>

{% include toc.html html=content %}

{{ content | toc }}
 
 {% if site.related_posts.size >= 1 %}
<div>
  <h2>相关文章</h2>
  <ul>
  {% for related_post in site.related_posts limit: 5 %}
    <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}
<!--填写你的评论代码，否则请删除
<h2>评论</h2>
<div id="tcomment"></div>
<script src="/js/twikoo.all.min.js"></script>
<script>
twikoo.init({
  envId: 'https://comment.pathos.page', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
  el: '#tcomment', // 容器元素
  // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
  // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
  lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/imaegoo/twikoo/blob/main/src/js/utils/i18n/index.js
})
</script>
-->